@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  
  body{
    background-color:black;
  }
  
  .li-spacing{
    padding-right:25px;
  }


  .li-display{
    display:inline list-item;
  }

  .img-height{
    height:500px;
    
  }

  .animate{
    transition:transform 1s;
  }

  
}